<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>CareCloud</string>
	<key>connections</key>
	<dict>
		<key>77269867-DF3F-43FA-AD1A-893B32E5B492</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B676DD7F-0A91-4E81-B0FD-BEB53E4ACD63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B676DD7F-0A91-4E81-B0FD-BEB53E4ACD63</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Ryan Martin</string>
	<key>description</key>
	<string>Is Scheduler Alive?</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Is Scheduler Alive?</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>is scheduler alive?</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Is Scheduler Alive?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>77269867-DF3F-43FA-AD1A-893B32E5B492</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://scheduler.development.carecloud.com/api/v2/health_check</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B676DD7F-0A91-4E81-B0FD-BEB53E4ACD63</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>77269867-DF3F-43FA-AD1A-893B32E5B492</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>1. This keyword is set to not require additional input text, so that you can type "gettingstarted" and press return to launch the two attached actions at once.</string>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>B676DD7F-0A91-4E81-B0FD-BEB53E4ACD63</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
