<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>00D88D9C-E0A7-40CA-87F7-121139CF2F7E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B1335904-BBBB-4A1C-8DF6-59B098D927F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>09FA26DE-EEC9-4894-9CA5-17D73D76F1C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59CD97E6-6D76-436E-935E-F521A6328A6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59CD97E6-6D76-436E-935E-F521A6328A6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07440D1B-CE43-47F9-B2AE-BA64885E96B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Enables/Disables WiFi and opens AirDrop window</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AirDrop &amp; WiFi</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>airdrop on</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enable AirDrop</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>09FA26DE-EEC9-4894-9CA5-17D73D76F1C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Finder" to activate
	tell application "System Events"
		keystroke "n" using {command down}
		keystroke "r" using {command down, shift down}
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>07440D1B-CE43-47F9-B2AE-BA64885E96B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>networksetup -setairportpower en0 on</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>59CD97E6-6D76-436E-935E-F521A6328A6B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>airdrop off</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Disable AirDrop</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>00D88D9C-E0A7-40CA-87F7-121139CF2F7E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>networksetup -setairportpower en0 off</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B1335904-BBBB-4A1C-8DF6-59B098D927F2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>00D88D9C-E0A7-40CA-87F7-121139CF2F7E</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>07440D1B-CE43-47F9-B2AE-BA64885E96B1</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>09FA26DE-EEC9-4894-9CA5-17D73D76F1C1</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>59CD97E6-6D76-436E-935E-F521A6328A6B</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>B1335904-BBBB-4A1C-8DF6-59B098D927F2</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
