<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>09BED4E6-1382-4C80-AC36-5FDD3D3B6536</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>842D97E1-7350-4457-9A6D-C013F1968C20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23FECE94-BD2A-4925-96B0-D153DCE85B41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09BED4E6-1382-4C80-AC36-5FDD3D3B6536</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5A0BDA1D-9FAD-419A-A869-14208717C310</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Automatically paste to most front app</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A0BDA1D-9FAD-419A-A869-14208717C310</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58C4743B-D81B-450F-A12E-D623FF0244EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Generate UUID and copy to clipboard or paste to front most app</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Uuid Generator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>842D97E1-7350-4457-9A6D-C013F1968C20</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>uuid</string>
				<key>subtext</key>
				<string>Paste new UUID to clipboard</string>
				<key>text</key>
				<string>Uuid Generator</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>23FECE94-BD2A-4925-96B0-D153DCE85B41</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>import sys
import uuid

result = str(uuid.uuid4())

if sys.stdout.isatty():
    print(result)
else:
    sys.stdout.write(result)</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>09BED4E6-1382-4C80-AC36-5FDD3D3B6536</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>58C4743B-D81B-450F-A12E-D623FF0244EF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>import sys
import uuid

result = str(uuid.uuid4())

if sys.stdout.isatty():
    print(result)
else:
    sys.stdout.write(result)</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5A0BDA1D-9FAD-419A-A869-14208717C310</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>09BED4E6-1382-4C80-AC36-5FDD3D3B6536</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>23FECE94-BD2A-4925-96B0-D153DCE85B41</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>58C4743B-D81B-450F-A12E-D623FF0244EF</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>5A0BDA1D-9FAD-419A-A869-14208717C310</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>842D97E1-7350-4457-9A6D-C013F1968C20</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
