<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emptytrashConfirm</key>
	<true/>
	<key>emptytrashKeyword</key>
	<string>et</string>
	<key>lockKeyword</key>
	<string>lk</string>
	<key>quitallConfirm</key>
	<true/>
	<key>quitallKeyword</key>
	<string>qa</string>
	<key>restartConfirm</key>
	<true/>
	<key>restartKeyword</key>
	<string>res</string>
	<key>screensaverKeyword</key>
	<string>ss</string>
	<key>showtrashKeyword</key>
	<string>t</string>
	<key>shutdownConfirm</key>
	<true/>
	<key>shutdownKeyword</key>
	<string>sd</string>
	<key>volumedownKeyword</key>
	<string>vd</string>
	<key>volumemuteKeyword</key>
	<string>mu</string>
	<key>volumeupKeyword</key>
	<string>vu</string>
</dict>
</plist>
